.header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  height: 64px;
  padding: 0 20px;
  line-height: 64px;
  background-color: #fff;
  box-shadow: 0 2px 8px #f2f3f5;
  .top-bar {
    display: flex;
  }
  .header-logo {
    display: flex;
    align-items: center;
    margin-right: 200px;
    height: 100%;
    line-height: 80px;
    .header-logo-img {
      width: 60px;
      height: 60px;
      border-radius: 4px;
      margin-right: 10px;
    }
  }
}
